/* Font Style */
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared Style */

/* .body{
    max-width: 1150px;
    margin: 0 auto;
} */
.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #FEA301;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.75rem;
    color: #FFFFFF;
    border: none;
    padding: 10px 60px;
}

/* Header relater Style */
/* Nav bar related Style*/
.nav-bar {
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.logo {
    gap: 5px;
}

.nav-ul {
    gap: 32px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
}

.home-link {
    color: #FEA301;
}

.about-link {
    color: #01ACFD;
}

.facilities-link {
    color: #05D4DF;
}

.admission-link {
    color: #5D58EF;
}
.hamburger{
    display: none;
}

/* Banner Style */
.banner-div {
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.banner-content {
    max-width: 500px;
}

.banner-title {
    font-weight: 700;
    font-size: 2.5rem;
}

.empowering {
    color: #FEA301;
}

.towards-vision {
    color: #01ACFD;
}

.banner-description {
    font-size: 0.75rem;
}
.overflor-visible{
    overflow: visible;
}

.btn-enroll {
    background-color: #111111;
}

.banner-image{
    width: 50%;
    height: 700px;
}

/* Marquee Section */
.marquee-div{
    margin-top: 40px;
    background: linear-gradient(to right, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Curriculum Section */

.curriculum-section{
    background-image: url(../assets/bg.png);
}
.curriculum-div {
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
}

.curriculum-title {
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.curriculum-card-1 {
    border-radius: 18px;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
    text-align: center;
    padding: 20px 20px;
    border: 1px solid rgba(222, 245, 255, 1);
    box-shadow: inset 0px 0px 20px 0.94px rgba(0, 0, 0, 0.05);
}

.curriculum-card-2 {
    border-radius: 18px;
    background: linear-gradient(to bottom, #FFF4DC, rgba(255, 255, 255, 0));
    text-align: center;
    padding: 20px 20px;
    border: 1px solid rgba(222, 245, 255, 1);
    box-shadow: inset 0px 0px 20px 0.94px rgba(0, 0, 0, 0.05);
}

.curriculum-card-3 {
    border-radius: 18px;
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
    text-align: center;
    padding: 20px 20px;
    border: 1px solid rgba(222, 245, 255, 1);
    box-shadow: inset 0px 0px 20px 0.94px rgba(0, 0, 0, 0.05);
}

.card-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-item img{
    height: 254px;
}

.card-button {
    border: none;
    color: rgba(224, 44, 109, 0.87);
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: #FFFFFF;
    float: middle;
}

.ci-1 {
    color: #64C8FF;
}

.ci-2 {
    color: #F0AA00;
}

.ci-3 {
    color: #8700FF;
}

.card-description {
    color: #808080;
    font-weight: 600;
    font-size: 0.7rem;
}

.direction-btn {
    margin-top: 40px;
}
.direction-btn :hover{
    background-color: #3CD8E8;
}

.left-arrow {
    background-color: rgba(254, 163, 1, 1);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
}

.btn-image {
    width: 30%;
    text-align: center;
}

/* Story Section */

.our-stories {
    background: linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0)), url(../assets/bg.png);
    padding: 20px 40px;
}

.story-div {
    gap: 20px;
    max-width: 1150px;
    margin: 0 auto;
}

.story-card-box-1{
    max-width: 500px;
}
.story-card-box-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-card {
    background-color: #FFFFFF;
    border-radius: 16px;
}

.card-item img {
    border-radius: 16px 16px 0px 0px;
    width: 100%;
}

.story-card-box-2 .card-item img{
    height: 177px;
}

.btn-div {
    text-align: center;
}

.btn-view {
    background-color: #000000;
    margin-top: 70px;
    margin-bottom: 50px;
}

.story-title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 60px;
}

.story-card-title {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    font-size: 0.75rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.story-card-title-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 0.8rem;
}

.story-1-description {
    padding: 30px 30px 50px 30px;
    font-weight: 600;
    font-size: 0.75rem;
    color: #666666;
}

.btn-story-card {
    margin-left: 30px;
    position: relative;
    top: -20px;
    padding: 10px 20px;
    border-radius: 47px;
}

.btn-s1 {
    background-color: #3CD8E8;
}

.btn-s2 {
    background-color: #95B226;
}

.btn-s3 {
    background-color: #5D58F0;
}

/*Footer Section */
.footer-content {
    padding: 20px 100px;
    background-color: #01ACFD;
    justify-content: space-between;
}

.footer-kid-title {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 10px;
}

.footer-touch-tile {
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.footer-kid-description {
    max-width: 350px;
    color: white;
    font-size: 0.75rem;
}

.kid{
    align-items: center;
}
.kid img{
    height: 70px;
}

.footer-image-icon {
    gap: 5px;
    width: 25px;
    height: 25px;
}

.school-title {
    color: white;
}

.footer-div-school ul li {
    list-style: none;
}

.footer-div-school ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
}

.footer-school {
    flex-direction: column;
    padding-left: 0px;
    gap: 5px;
}

@media screen and (max-width:576px) {

    .banner-div{
        flex-direction: column-reverse;
    }
    .banner-title, .banner-description, .btn-enroll{
        text-align: center;
    }
    .banner-image{
        width: 100%;
        height: 700px;
    }
    .card {
        
        grid-template-columns: repeat(1, 1fr);
        
    }
    .story-card-box-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .story-card-box-1, .school, .nav-links, .direction-btn, .btn-contact{
        display: none;
    }
    .footer-content{
        flex-direction: column;
        padding-left: 50px;
    }
    .hamburger{
        display: block;
    }
    .banner-title{
        font-size: 2rem;
    }
    .nab-bar-border{
        border: 0.5px solid rgba(254, 163, 1, 1);
        margin: 0px 0px;
        padding: 20px 40px;
    }
    .btn-story-card{
        margin-left: 0px;
        font-size: 0.6rem;
    }
    .btn-enroll-div, .btn-story{
        text-align: center;
    }
    .story-card-title{
        padding-left: 20px;
        padding-right: 20px;
    }


}